<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Sinatra</title>
  </head>
  <body>
    <h2>Index</h2>
    <p>Hello world, it's <%= Time.now %> at the server!</p>
  </body>
</html>
