<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Sinatra</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <h3>
    <% if session[:user].nil? %>
      <a href='/logout'>Login</a> |
      <a href='/register'>Register</a>
    <% else %>
      <%= session[:user] %> |
      <a href='/profile'>Profile</a> |
      <a href='/logout'>Logout</a>
    <% end %>
    </h3>
    <%= yield %>
    <br>
    <nav>
      <a href="/posts">Posts</a> |
      <a href="/categories">Categories</a> |
      <a href="/statistics">Statistics</a> |
      <a href="/users">Users</a> |
      <a href="/settings">Settings</a>
    </nav>
  </body>
</html>
