<h2>All Posts</h2>

<a href="/posts/new">Create Post</a>

<ul>
<% @posts.each do |post| %>
    <li>
      <%= post.title %> -
      <%= post.body %> -
      <a href="/posts/<%= post.id %>">Show</a>
    </li>
<% end %>
</ul>
