<h2>Edit Post</h2>

<ul>
<% unless flash[:errors].nil? %>
  <% flash[:errors].each do |err| %>
    <li style="color:red;"><%= err %></li>
  <% end %>
<% end %>
</ul>

<form action="/posts/<%= @post.id %>" method="post">
  <input type="hidden" name="_method" value="put">
  <label for="title">Title</label>
  <input type="text" name="title" value="<%= @post.title %>">
  <label for="body">Body</label>
  <input type="text" name="body" value="<%= @post.body %>">
  <input type ="submit" value="Update Post">
</form>

<br>

<a href="/posts">Back</a>
