<h2>User Profile</h2>

<div>
  Name: <%= @user.name %> |
  Gold: <%= @user.name %>
  <p>
    <% if @user.admin %>
      Administrative user
    <% else %>
      Normal user
    <% end %>
  </p>
  <p><a href='/transfer'>Transfer Gold</a></p>
</div>
